extends layout


block content
    header 
        h1= 'Message Board'
    main
        form(method='POST' action='/new')
          | name
          input(type="text" name='message')
          | message
          input(type='text' name='name')
          input(type='submit' value='Post')